{% extends 'layout.html.twig' %}
{% block title %}Eggs Or Again{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/form1.css">
{# <link rel="stylesheet" href="/assets/css/style.css"> #}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
<style>
.img1{background-image:url(https://images.innoveduc.fr/easter_hackathon/4262699-a86be31143ba35176665964cfa29516a-d5qg94n.jpg);}
.img2{background-image:url(https://images.innoveduc.fr/easter_hackathon/4262699-a86be31143ba35176665964cfa29516a-d5qg94n.jpg);}
.img3{background-image:url(https://images.innoveduc.fr/easter_hackathon/4262699-a86be31143ba35176665964cfa29516a-d5qg94n.jpg);}
.img4{background-image:url(https://images.innoveduc.fr/easter_hackathon/4262699-a86be31143ba35176665964cfa29516a-d5qg94n.jpg);}
</style>

<div class="main-form-img">
    <form methode="POST" class="w-full flex flex-row flex-wrap justify-center">
        <div class="w-full mt-10 flex flex-row flex-wrap justify-center text-black text-4xl">
                {{ username1 }} pick your personage
        </div>
        <div class="w-full h-5 flex flex-row flex-no-wrap justify-center">
            <div class="img-selector">
                <input id="img1" type="radio" name="userId1" value="id1" />
                <label class="drinkcard-cc img1" for="img1"></label>
                <input id="img2" type="radio" name="userId1" value="id2" />
                <label class="drinkcard-cc img2"for="img2"></label>
                <input id="img3" type="radio" name="userId1" value="id3" />
                <label class="drinkcard-cc img3" for="img3"></label>
                <input id="img4" type="radio" name="userId1" value="id4" />
                <label class="drinkcard-cc img4"for="img4"></label>
            </div>
        </div>
        <div class=" w-full mt-24 h-10 flex flex-row flex-no-wrap justify-center">
            <button class="flex-no-shrink border-transparent border-8 text-black text-2xl text-sm py-1 px-2 rounded" type="submit" name='btnForm2' value='true'>
                    Next
            </button>
        </div>

    </form>
</div>

{% endblock %}
