{% extends 'layout.html.twig' %}
 {% block content %}
<div class="row">
<img src="https://cdn.pixabay.com/photo/2014/04/02/10/54/wreath-304896_960_720.png" alt="photoWin">
{{ winner }}
</div>
 {% endblock %}
